:root {
  --primary-color: #19a4ea;
  --primary-color-dark: #2051cc;
  --background-color: #f0f0f0;
  --text-color: #333;
  --button-color: #19a4ea;
  --button-hover-color: #2051cc;
  --header-bg-color: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--text-color);
  background: url("./assets/Images/image.png") no-repeat;
  width: 100%;
  background-size: 90%;
}
